body {
  /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

a {
  color: black;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
}

.container-nav,
.container-footer {
  background-color: white;
}

.link-nav {
  color: #242424;
}

h2 {
  color: #f9f8ff;
}

p,
li {
  color: #f9f8ff;
  font-size: 1.1em;
}

.special-link {
  background: linear-gradient(90deg, #8e86b5, #acaeed);
  font-family: "Manrope", sans-serif;
  color: white;
  border-radius: 50px;
}

.paragraph-about {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
}
