h1 {
  font-size: 3.5em;
  color: #c6b326;
  font-family: "Montserrat", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 1.1em;
  font-family: "Manrope", sans-serif;
}

li {
  font-size: 1em;
  font-family: "Manrope", sans-serif;
}

em {
  color: #a5b4fc;
  font-size: 1em;
  font-family: "Manrope", sans-serif;
  font-style: normal;
}
